DesignFiles/XML Schemas/fertility schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Fertilities">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Fertility" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="EN_Name"/>
              <xs:element type="xs:string" name="DE_Name"/>
			  <xs:element type="xs:string" name="Climate"/>
            </xs:sequence>
			<xs:attribute type="xs:int" name="ID"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>