DesignFiles/XML Schemas/need schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Needs">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Need" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="EN_Name"/>
              <xs:element type="xs:string" name="DE_Name"/>
			  <xs:element type="xs:int" name="Structure"/>
			  <xs:element type="xs:int" name="Item"/>
			  <xs:element type="xs:int" name="Level"/>
			  <xs:element type="xs:decimal" name="Peasent"/>
			  <xs:element type="xs:decimal" name="Citizen"/>
			  <xs:element type="xs:decimal" name="Patrician"/>
			  <xs:element type="xs:decimal" name="Nobleman"/>
            </xs:sequence>
			<xs:attribute type="xs:int" name="ID"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>